{
  "presets": [
    "flow",
    "react",
    ["env", {
      "targets": {
        "node": "8.3"
      }
    }]
  ],
  "plugins": [
    ["relay", { "schema": "units/_configuration/urb-base-server/graphql/schema.graphql" }],
    "dynamic-import-node",
    "react-hot-loader/babel",
    "transform-class-properties",
    "syntax-dynamic-import",
    ["transform-object-rest-spread",
        {
          "useBuiltIns": true
        }
      ],
    "transform-flow-strip-types"
  ]
}
