{
  "env": {
    "development": {
      "plugins": [ "babel-relay-plugin-loader" ],
      "presets": ["react-native", "es2015", "stage-0", "react"],
    },
    "production": {
      "plugins": [ "babel-relay-plugin-loader" ],
      "presets": ["es2015", "stage-0", "react"],
    },
  }
}
